- if options[:toolbar] || options[:export_url] != false
  %tr
    - colspan = options[:editable] ? grid.columns(*options[:columns]).length + 2 : grid.columns(*options[:columns]).length
    - colspan += 1 if options[:selectable]
    - colspan += 1 if options[:starred]
    %th.no-overflow{ colspan: colspan }
      - if options[:toolbar]
        = render options[:toolbar][:partial], grid: grid
      .pull-right
        - if options[:export_url]
          = link_to options[:export_url], :"data-no-turbolink" => true, rel: "tooltip", title: t("views.grids.export.csv", default: "Export to CSV") do 
            %i.icon-table
        - else 
          = link_to url_for(format: :csv), :"data-no-turbolink" => true, rel: "tooltip", title: t("views.grids.export.csv", default: "Export to CSV") do 
            %i.icon-table
%tr
  - if options[:selectable]
    %th
      %a.select-all{href: "#"}
        %i.icon-th
  - if options[:starred]
    %th
  - grid.columns(*options[:columns]).each do |column|
    %th.no-overflow{class: datagrid_column_classes(grid, column)}
      = column.header
      = datagrid_order_for(grid, column) if column.order && options[:order]
  
  -# Actions
  - if options[:editable]
    %th{ style: "width: 60px" }