= simple_form_for @visit, :html => { :class => 'form-horizontal' } do |f|
  .row
    .span6
      = f.input :description
      = f.input :vdate, input_html: { class: "datepicker" }
      = f.input :comment, as: :text
    .span6
      = f.input :customer, input_html: { style: "width: 220px;" } do
        = f.collection_select :customer_id, Customer.all, :id, :name, {}, {style: "width: 220px;"}
      = f.input :representative do 
        = f.collection_select :representative_id, Representative.all, :id, :name, {}, {style: "width: 220px;"}
  
  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn-small'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), visits_path, :class => 'btn btn-small'

:javascript
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
  });
  
  $("select").select2();