= simple_form_for @visit, :html => { role: "form" } do |f|
  - unless @visit.errors.messages.reject{ |k,v| k != :gen }.empty?
    .alert.alert-error
      %strong Please notice:
      %ul
        - @visit.errors.messages.reject{ |k,v| k != :gen }.each do |key, msg|
          - msg.each do |m|
            %li= m

  = panel t("views.titles.details", default: "Details"), "details_panel" do 
    .row
      .col-md-5
        = f.input :description
        = f.input :status, collection: Visit::STATUSES, input_html: { }
      .col-md-5
        = f.input :vdate, as: :datetime_picker
        = f.input :comment, as: :text
    .row
      .col-md-5
        .row
          .col-md-8
            = f.input :customer do
              = f.collection_select :customer_id, @customers, :id, :name, {include_blank: true}, { }
      .col-md-5
        .row
          .col-md-8
            = f.input :representative do
              = f.collection_select :representative_id, @representatives, :id, :name, {include_blank: true}, { }
  
  .form-actions
    = button_tag type: :submit, :class => 'btn btn-primary btn-sm' do
      = fa_icon "save"
      = t("mongoid.actions.visit.save", default: t("helpers.links.save"))
    = link_to visits_path, :class => 'btn btn-danger btn-sm' do
      = fa_icon "remove"
      = t('.cancel', :default => t("helpers.links.cancel"))

:javascript
  $('.datepicker').datetimepicker({
    format: 'YYYY-MM-DD',
    pickTime: false
  });
  
  $("select").addClass("form-control").select2();