- model_class = Visit
.page-header
  %h2
    =t '.title', :default => model_class.model_name.human.titleize
    - if can?(:edit, Visit)
      .pull-right
        = link_to edit_visit_path(@visit) do
          = fa_icon "edit"
        = link_to visit_path(@visit), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
          = fa_icon "trash-o"
    
= panel t("views.titles.details", default: "Details"), "details_panel" do 
  .row
    .col-md-6
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:description)
        .col-md-9.model-attr-value= @visit.description
      .row.model-attr-nv
        .col-md-3.model-attr-name= t("mongoid.models.customer.one", default: "Customera")
        .col-md-9.model-attr-value= link_to @visit.customer.name, customer_path(@visit.customer)
      .row.model-attr-nv
        .col-md-3.model-attr-name= t(:representative)
        .col-md-9.model-attr-value= link_to @visit.representative.name, representative_path(@visit.representative)

    .col-md-6
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:vdate)
        .col-md-9.model-attr-value= @visit.vdate
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:status)
        .col-md-9.model-attr-value= @visit.status_text
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:comment)
        .col-md-9.model-attr-value= @visit.comment
