= simple_form_for @visit_plan do |f|
  - unless @visit_plan.errors.empty?
    .alert.alert-info
      %a.close{ href: "#", data: { dismiss: "alert" },  aria: { hidden: "true" }} &times;
      %strong Please notice:
      %ul
        - @visit_plan.errors.messages.values.each do |msgs|
          - msgs.each do |msg|
            %li= raw msg
            
  = f.input :user, as: :hidden, input_html: { value: current_user.id }
  .row
    .col-md-12
      .row
        .col-md-2
          = f.input :start_date, input_html: { class: "datepicker", value: Time.now }
        .col-md-2
          = f.input :end_date, input_html: { class: "datepicker", value: Time.now + 7.days }
        .col-md-6.col-md-offset-1
          = f.input :customer_ids, collection: @customers, input_html: { multiple: true }
      .row
        .col-md-5
          = f.input :comments, as: :text

  .row
    .col-md-12
      .form-actions
        = button_tag type: :submit, class: "btn btn-primary btn-sm" do
          = fa_icon "save"
          = t("mongoid.actions.visit_plan.save")

:javascript
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true
  });
  $("select").addClass("form-control").select2({allowClear: true})