.page-header
  %h2
    = t("views.visit_plan", count: 1, default: "Visit Plan")

= simple_form_for :visit_plan, url: visit_plans_path do |f|
  = panel t("views.titles.details", default: "Details"), "details_panel" do 
    .row
      .col-md-2
        = f.input :start_date, input_html: { class: "datepicker", value: Time.now }
      .col-md-2
        = f.input :end_date, input_html: { class: "datepicker", value: Time.now + 7.days }
      .col-md-4
        = f.input :customer_ids, collection: Customer.all, input_html: { multiple: true }      
.row
  .col-md-4
    = button_tag type: :submit, class: "btn btn-primary btn-sm" do
      %i.icon-save
      = t("mongoid.actions.visit_plan.save")
  
:javascript
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true
  });
  $("select").addClass("form-control").select2({allowClear: true})
