.page-header
  %h2
    = t("views.visit_plans.title", default: "Visit Planning")
= simple_form_for :visit_plan, url: visit_plans_path do |f|
  .row
    .col-md-4
      = f.input :start_date, input_html: { class: "datepicker", value: Time.now }
    .col-md-3
      = f.input :end_date, input_html: { class: "datepicker", value: Time.now + 7.days }
  .row
    .col-md-6
      = f.input :customer_ids, collection: Customer.all, input_html: { multiple: true }
  .row
    .form-actions.col-md-12
      = f.submit class: "btn btn-primary btn-sm"
  
:javascript
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true
  });
  $("select").addClass("form-control").select2({allowClear: true})
