= simple_form_for [@customer, @business_hour], :html => { role: "form", :class => 'form-horizontal' }, defaults: { wrapper: :form_horizontal } do |f|
  - if @business_hour.errors.messages[:bh]
    .alert.alert-error
      %strong Can't save business hours:
      %ul
        - @business_hour.errors.messages[:bh].each do |msg|
          %li= msg
  .row
    .col-md-2
      = f.input :valid_from, input_html: { class: "datepicker" }
    .col-md-2
      = f.input :valid_to, input_html: { class: "datepicker" }
    .col-md-5
      = f.input :season_ids, collection: @seasons.map { |c| [c.description, c.id] }, input_html: { multiple: true }
  .row
    .col-md-12 &nbsp;
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :mon
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :tue
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :wed
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :thu
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :fri
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :sat
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :sun
    
  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn.sm'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_customer_path(@customer), :class => 'btn btn-default btn-sm'

:javascript
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true
  });
  $('select').addClass("form-control").select2({allowClear: true})