= simple_form_for [@customer, @business_hour], :html => { :class => 'form-inline' } do |f|
  - if @business_hour.errors.messages[:bh]
    .alert.alert-error
      %strong Can't save business hours:
      %ul
        - @business_hour.errors.messages[:bh].each do |msg|
          %li= msg
  = render "form_day_fields", f: f, day: :mon
  = render "form_day_fields", f: f, day: :tue
  = render "form_day_fields", f: f, day: :wed
  = render "form_day_fields", f: f, day: :thu
  = render "form_day_fields", f: f, day: :fri
  = render "form_day_fields", f: f, day: :sat
  = render "form_day_fields", f: f, day: :sun
    
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_customer_path(@customer), :class => 'btn'

:javascript
  $('select').select2({allowClear: true})