= simple_form_for [@customer, @business_hour], :html => { role: "form" }, defaults: { wrapper: :form_horizontal } do |f|
  .row
    .col-md-2
      = f.input :valid_from, as: :datetime_picker
    .col-md-2.col-md-offset-1
      = f.input :valid_to, as: :datetime_picker
  .row
    .col-md-8
      = f.input :season_ids, collection: @seasons, input_html: { multiple: true }
  .row
    .col-md-12 &nbsp;
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :mon
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :tue
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :wed
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :thu
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :fri
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :sat
  .row
    .col-md-12
      = render "form_day_fields", f: f, day: :sun
    
  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn.sm'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_customer_path(@customer), :class => 'btn btn-default btn-sm'

:javascript
  $('.datepicker').datetimepicker({
    format: 'YYYY-MM-DD',
    pickTime: false
  });
  $('select').addClass("form-control").select2({allowClear: true})