- model_class = BusinessHour
.page-header
  %h2
    =t '.title', :default => model_class.model_name.human.titleize
    =# link_to t('.back', :default => t("helpers.links.back")), customer_business_hours_path(@customer), :class => 'btn'
    = link_to edit_customer_business_hour_path(@customer, @business_hour) do
      %i.icon-edit
    = link_to customer_business_hour_path(@customer, @business_hour), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do 
      %i.icon-trash.danger
    
.row
  .col-md-12
    %p
      %strong= model_class.human_attribute_name(:schedule) + ':'
      = @business_hour.schedule

.row
  .col-md-4
    - if @business_hour.mon?
      %p
        %strong= model_class.human_attribute_name(:mon) + ':'
        = @business_hour.mon_start_at.strftime("%H:%M")
        = "-"
        = @business_hour.mon_end_at.strftime("%H:%M")

    - if @business_hour.tue?
      %p
        %strong= model_class.human_attribute_name(:tue) + ':'
        = @business_hour.tue_start_at.strftime("%H:%M")
        = "-"
        = @business_hour.tue_end_at.strftime("%H:%M")
    - if @business_hour.wed?
      %p
        %strong= model_class.human_attribute_name(:wed) + ':'
        = @business_hour.wed_start_at.strftime("%H:%M")
        = "-"
        = @business_hour.wed_end_at.strftime("%H:%M")
  .col-md-4
    - if @business_hour.thu?
      %p
        %strong= model_class.human_attribute_name(:thu) + ':'
        = @business_hour.thu_start_at.strftime("%H:%M")
        = "-"
        = @business_hour.thu_end_at.strftime("%H:%M")
    - if @business_hour.fri?
      %p
        %strong= model_class.human_attribute_name(:fri) + ':'
        = @business_hour.fri_start_at.strftime("%H:%M")
        = "-"
        = @business_hour.fri_end_at.strftime("%H:%M")
    - if @business_hour.sat?
      %p
        %strong= model_class.human_attribute_name(:sat) + ':'
        = @business_hour.sat_start_at.strftime("%H:%M")
        = "-"
        = @business_hour.sat_end_at.strftime("%H:%M")
    - if @business_hour.sun?
      %p
        %strong= model_class.human_attribute_name(:sun) + ':'
        = @business_hour.sun
      %p
        %strong= model_class.human_attribute_name(:sun_start_at) + ':'
        = @business_hour.sun_start_at.strftime("%H:%M")
      %p
        %strong= model_class.human_attribute_name(:sun_end_at) + ':'
        = @business_hour.sun_end_at.strftime("%H:%M")  