- model_class = Customer
.page-header
  %h2
    = t '.title', :default => model_class.model_name.human.titleize
    - if can?(:edit, Customer)
      .pull-right
        = link_to edit_customer_path(@customer), rel: "tooltip", title: t("mongoid.actions.customer.edit", default: t("helpers.links.edit")) do
          = fa_icon "edit"
        = link_to customer_path(@customer), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, rel: "tooltip", title: t("mongoid.actions.customer.delete", default: t("helpers.links.delete")) do
          = fa_icon "trash-o"

= panel t("views.titles.details", default: "Details"), "details_panel", anchor: "customer_details" do 
  .row 
    .col-md-6
      %p
        %strong= model_class.human_attribute_name(:name) + ':'
        = @customer.name
      %p
        %strong= t("mongoid.models.representative", default: "Representative") + ':'
        = @customer.representative.name if @customer.representative
    .col-md-6
      %p
        %strong= model_class.human_attribute_name(:valid_from) + ':'
        = @customer.valid_from
      %p
        %strong= model_class.human_attribute_name(:valid_to) + ':'
        = @customer.valid_to
.row
  .col-md-6
    = panel t("mongoid.models.address", count: 2, default: "Addresses"), "addresses_panel", links: [[t("mongoid.actions.new", default: "New"), new_customer_address_path(@customer)]], anchor: "customer_addresses" do
      = render "addresses", editable: false
  .col-md-6
    = panel t("mongoid.models.business_hour", count: 2, default: "Business Hours"), "business_hours_panel", links: [[t("mongoid.actions.new", default: "New"), new_customer_business_hour_path(@customer)]], anchor: "customer_business_hours" do
      = render "business_hours", editable: false
.row
  .col-md-6
    = panel t("mongoid.models.organization", count: 2, default: "Organizations"), "organizations_panel", class: "anchor", anchor: "customer_organizations" do
      = render "organizations", editable: false
.row
  .col-md-12
    = panel t("mongoid.models.visit", count: 2, default: "Visits"), "visits_panel", name: "customer_visits", links: [[t("mongoid.actions.new", default: "New"), new_customer_visit_path(@customer)]], anchor: "customer_visits" do
      = render "visits", editable: false
