= simple_form_for [:admin, @organization], :html => { role: "form" } do |f|
  = panel t("views.titles.details", default: "Details"), "details_panel" do
    .row
      .col-md-3
        = f.input :name
      .col-md-3.col-md-offset-1
        = f.input :country, iso_codes: true

  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn-sm'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_organizations_path, :class => 'btn btn-default btn-sm'

:javascript
  $("select").addClass("form-control").select2({allowClear: true})