= simple_form_for [:admin, @organization], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :country, iso_codes: true, input_html: { style: "width: 220px" }
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_organizations_path, :class => 'btn'

:javascript
  $("select").select2({allowClear: true})