= simple_form_for [:admin, @organization], :html => { :class => 'form-horizontal' }, defaults: { wrapper: :form_horizontal } do |f|
  = panel t("views.titles.details", default: "Details"), "details_panel" do
    .row
      .col-md-6
        = f.input :name
        = f.input :country, iso_codes: true

  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn-sm'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_organizations_path, :class => 'btn btn-default btn-sm'

:javascript
  $("select").addClass("form-control").select2({allowClear: true})