- model_class = Organization
.page-header
  %h2
    =t '.title', :default => model_class.model_name.human.titleize
    = link_to edit_admin_organization_path(@organization) do 
      %i.icon-edit
    = link_to admin_organization_path(@organization), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
      %i.icon-trash.danger
    
    
= panel t("views.titles.details", default: "Details"), "details_panel" do
  %p
    %strong= model_class.human_attribute_name(:name) + ':'
    = @organization.name
  %p
    %strong= model_class.human_attribute_name(:country) + ':'
    = @organization.country

= panel t("mongoid.models.customer", count: 2, default: "Customers"), "customers_panel" do
  = datagrid_table CustomersGrid.new, @customers, html: { class: "table table-condensed table-hover" }
  = paginate @customers, pagination_class: "pagination-sm", param_name: "customers_page"

= panel t("mongoid.models.representative", count: 2, default: "Representatives"), "representatives_panel" do
  = datagrid_table RepresentativesGrid.new, @representatives, html: { class: "table table-condensed table-hover" }
  = paginate @representatives, pagination_class: "pagination-sm", param_name: "representatives_page"
