= simple_form_for [@addressable, @address], html: { role: "form" } do |f|
  .row
    .col-md-5
      = f.input :description
    .col-md-5
      = f.input :telephone
  .row
    .col-md-5
      = f.input :street, label: t("mongoid.attributes.address.street_house_nr")
    .col-md-2
      = f.input :house_nr, input_html: { style: "width: 70px;" }
  .row
    .col-md-5
      = f.input :city
  .row
    .col-md-5
      - if @address && @address.country
        = f.input :country, iso_codes: true, priority: [@address.country.alpha2]
      - else
        = f.input :country, iso_codes: true
  .row
    .col-md-12
      .form-actions
        = f.button :submit, :class => 'btn btn-primary btn-sm'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_polymorphic_path(@addressable), :class => 'btn btn-default btn-sm'
    
:javascript
  $('select').addClass("form-control").select2({allowClear: true})