= simple_form_for [@addressable, @address], html: { class: "form-horizontal" }, defaults: { wrapper: :form_horizontal} do |f|
  .row
    .col-md-6
      = f.input :description
  .row
    .col-md-6
      = f.input :street, label: t("mongoid.attributes.address.street_house_nr")
    .col-md-2
      = f.input :house_nr, label: false, input_html: { style: "width: 70px;" }
  .row
    .col-md-6
      = f.input :city
  .row
    .col-md-6
      = f.input :country, iso_codes: true
  
  .row
    .col-md-12
      .form-actions
        = f.button :submit, :class => 'btn btn-primary btn-small'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_polymorphic_path(@addressable), :class => 'btn btn-small'
    
:javascript
  $('select').addClass("form-control").select2({allowClear: true})