= simple_form_for [@addressable, @address] do |f|
  = f.input :street
  = f.input :house_nr
  = f.input :city
  = f.input :country, input_html: { style: "width: 220px;"}
  
  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn-small'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_polymorphic_path(@addressable), :class => 'btn btn-small'
    
:javascript
  $('select').select2()