- model_class = Address
.page-header
  %h2
    = "#{t('.title', :default => model_class.model_name.human.titleize)} #{"(Main)" if @address.main}"
    - if can?(:edit, Representative)
      .pull-right
        / = link_to polymorphic_path(@address.addressable), rel: "tooltip", title: t("views.labels.back", default: "Back") do
        /   = fa_icon "arrow-circle-o-left"
        = link_to edit_customer_address_path(@addressable, @address), rel: "tooltip", title: t("mongoid.actions.customer.edit", default: t("helpers.links.edit")) do
          = fa_icon "edit"
        = link_to customer_address_path(@addressable, @address), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
          = fa_icon "trash-o"
          
= panel t("views.titles.details", default: "Details"), "details_panel", anchor: "address_details" do 
  .row
    .col-md-6
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:description)
        .col-md-9.model-attr-value= @address.description
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:telephone)
        .col-md-9.model-attr-value= @address.telephone
    .col-md-6
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:street) + " / " + model_class.human_attribute_name(:house_nr)
        .col-md-9.model-attr-value
          = @address.street
          = @address.house_nr
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:city)
        .col-md-9.model-attr-value= @address.city
      .row.model-attr-nv
        .col-md-3.model-attr-name= model_class.human_attribute_name(:country)
        .col-md-9.model-attr-value= @address.country.name