- model_class = Address
.page-header
  %h2
    = "#{t('.title', :default => model_class.model_name.human.titleize)} #{"(Main)" if @address.main}"
    = link_to polymorphic_path(@address.addressable), rel: "tooltip", title: t("views.labels.back", default: "Back") do
      = fa_icon "reply"
.row
  .col-md-6
    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      = @address.description
  .col-md-6
    %p
      %strong= model_class.human_attribute_name(:telephone) + ':'
      = @address.telephone
.row 
  .col-md-6
    %p
      %strong= model_class.human_attribute_name(:street) + " / " + model_class.human_attribute_name(:house_nr) + ':'
      = @address.street
      = @address.house_nr
  .col-md-6
    %p
      %strong= model_class.human_attribute_name(:city) + ':'
      = @address.city
    %p
      %strong= model_class.human_attribute_name(:country) + ':'
      = @address.country.name