= simple_form_for @absence, html: { role: "form" } do |f|
  = panel t("views.panels.absence.details", default: "Details"), "details_panel" do
    .row
      .col-md-4
        = f.input :representative do
          = f.collection_select :representative_id, @representatives, :id, :name, { include_blank: true }, { }
    .row
      .col-md-4
        = f.input :all_day, as: :boolean
    .row
      .col-md-3
        = f.input :starts_at, as: :datetime_picker #, input_html: { class: "datepicker" }
      .col-md-3
        = f.input :ends_at, as: :datetime_picker # input_html: { class: "datepicker" }
    .row
      .col-md-4
        = f.input :reason
  
  .row
    .col-md-12
      .form-actions
        = button_tag type: :submit, :class => 'btn btn-primary btn-sm' do
          = fa_icon "save"
          = t("mongoid.actions.customer.save")
        = link_to absences_path, :class => 'btn btn-danger btn-sm' do
          = fa_icon "back"
          = t('.cancel', :default => t("helpers.links.cancel"))
        = link_to absence_path(@absence), :method => "delete", :class => 'btn btn-danger btn-sm', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, rel: "tooltip", title: t("mongoid.actions.absence.delete", default: t("helpers.links.delete")) do
          = fa_icon "trash-o"
          = t('.delete', :default => t("helpers.links.delete"))
        
:javascript
  $('.datepicker').datetimepicker({
    format: "YYYY-MM-DD hh:mm",
    minuteStepping: 30,
    useSeconds: false
  });
    
  $("select").addClass("form-control").select2({allowClear: true})