= simple_form_for :absence, html: { role: "form" } do |f|
  .row
    .col-md-12
      = f.input :representative do
        = f.collection_select :representative_id, @representatives, :id, :name, { include_blank: true }, { }
  .row
    .col-md-12
      .form-actions
        = link_to t("mongoid.actions.visit.save", default: t("helpers.links.save")), "#", remote: true, id: "absence_qs_save_btn"
        = link_to t("mongoid.actions.visit.cancel", default: t("helpers.links.cancel")), "#", remote: true, id: "absence_qs_cancel_btn"

:javascript 
  $(".popover-content select").addClass("form-control").select2();