- model_class = Absence
.page-header
  %h2
    =t '.title', :default => model_class.model_name.human.titleize  
    = link_to edit_absence_path(@absence), rel: "tooltip", title: t("mongoid.actions.absence.edit", default: t("helpers.links.edit")) do
      = fa_icon "edit"
    = link_to absence_path(@absence), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, rel: "tooltip", title: t("mongoid.actions.absence.delete", default: t("helpers.links.delete")) do
      = fa_icon "trash-o", class: "danger"

= panel t("views.titles.details", default: "Details"), "details_panel" do
  .row 
    .col-md-6
      %p
        %strong= t("mongoid.models.representative", default: "Representative") + ':'
        = @absence.representative.name if @absence.representative
    .col-md-6
      %p
        %strong= model_class.human_attribute_name(:all_day) + ':'
        = @absence.all_day
      %p
        %strong= model_class.human_attribute_name(:starts_at) + ':'
        = @absence.starts_at
      %p
        %strong= model_class.human_attribute_name(:ends_at) + ':'
        = @absence.ends_at