= simple_form_for @organization, :html => { role: "form" } do |f|
  = panel t("views.titles.details", default: "Details"), "details_panel" do
    .row
      .col-md-3
        = f.input :name, autofocus: true
      .col-md-3.col-md-offset-1
        = f.input :country, iso_codes: true

  .form-actions
    = button_tag type: :submit, :class => 'btn btn-primary btn-sm' do
      %i.icon-save
      = t("mongoid.actions.organization.save", default: t("helpers.links.save"))
    = link_to organizations_path, :class => 'btn btn-danger btn-sm' do
      %i.icon-remove
      = t('.cancel', :default => t("helpers.links.cancel"))

:javascript
  $("select").addClass("form-control").select2({allowClear: true})