- model_class = User
.page-header
  %h2=t '.title', :default => [:'helpers.titles.new', 'Create %{model}'], :model => model_class.model_name.human.titleize
  
= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' }, defaults: { wrapper: :form_horizontal } do |f|
  .col-md-6
    = f.input :email
    = f.input :password, input_html: { class: "form-control" }
    = f.input :password_confirmation, input_html: { class: "form-control" }
    = f.input :representative_id do
      = f.collection_select :representative_id, Representative.all, :id, :name, {include_blank: true}, { }
      
    .form-actions
      = f.submit class: "btn btn-primary btn-sm"
      = link_to t('helpers.links.cancel', :default => "Cancel"), admin_users_path, :class => 'btn btn-default btn-sm'

:javascript
  $('select').addClass("form-control").select2({allowClear: true})