- model_class = User
.page-header
  %h2=t '.title', :default => [:'helpers.titles.new', 'Create %{model}'], :model => model_class.model_name.human.titleize

= simple_form_for [:admin, @user] do |f|
  = panel t("views.panels.user.details", default: "Details") , "details_panel" do
    .row
      .col-md-5
        = f.input :email
    .row
      .col-md-5
        = f.input :password, required: true, input_html: { class: "form-control" }
      .col-md-5
        = f.input :password_confirmation, required: true, input_html: { class: "form-control" }
    .row
      .col-md-5
        = f.input :representative_id do
          = f.collection_select :representative_id, Representative.all, :id, :name,  { include_blank: true }, {}
      
  .form-actions
    = button_tag type: :submit, class: "btn btn-primary btn-sm" do
      %i.icon-save
      = t("mongoid.actions.user.save", default: t("helpers.links.save"))
    = link_to admin_users_path, :class => 'btn btn-danger btn-sm' do
      %i.icon-remove
      = t('helpers.links.cancel', :default => "Cancel")

:javascript
  $('select').addClass("form-control").select2({allowClear: true})