%nav.navbar.navbar-default.navbar-fixed-top{ id: "first-level-menu", role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { toggle: "collapse", target: "#menu" } }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: "/"} CoR
    
    #menu.collapse.navbar-collapse
      = render_navigation level: 1
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          / %li= render "layouts/messages"
          %li.no-overflow{ style: "max-width: 200px;" }= link_to current_user.email
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign In", new_user_session_path
  
- if !active_navigation_item_name(level: 1).empty?
  %nav.navbar.navbar-default.navbar-fixed-top{id:"second-level-menu", role: "navigation" }
    .container-fluid
      .navbar-header
        %button.navbar-toggle{ data: { toggle: "collapse", target: "#second-level-menu" } }
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: "/"} 
      #second-level-menu
        = render_navigation level: 2